.content {
    padding: 100px;
    overflow: hidden;
}

/*.content */
p {
    font-family: 'Didact Gothic', sans-serif;
    font-weight: lighter;
    padding-left: 30px;
    font-size: 14px;
    color: rgb(160, 160, 160);
}

#monitor {
    padding-left: 0;
}

#tale {
    color: gray;
    padding-left: 80px;
}

/*.content */
h1 {
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    color: rgb(200, 200, 200);
    padding: 10px;
    font-size: 18px;
    margin-bottom: 30px;
}

/*.content */
h2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    color: rgb(180, 180, 180);
    font-size: 15px;
}

.high-light {
   /* color: hsl(348, 80%, 50%);*/
   color: rgb(231, 208, 74);
   text-decoration: underline;
}

a:link,
a:visited {
    color: rgb(231, 208, 74);
    text-decoration: none;
    cursor: hand;
}

#icesi-link {
    color: white;
}

a:link:active,
a:visited:active {
    color: rgb(231, 208, 74);
}
/**/
.pro{
    margin-top: 100px;
}
/*-------------------------------------*/
.flex-container {
    display: flex;
    justify-content: center;

  }
.container {
    position: relative;
}
  
  .image {
    display: block;
    width: 500px;
    height: auto;
    border-radius: 250px;
    border: solid 1px rgb(20,20,20);
    box-shadow: 0px 10px 10px rgb(15,15,15);
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 500px;
    height: auto;
    border-radius: 250px;
    opacity: 0;
    transition: 1s ease;
    background-color:rgba(20,20,20,0.9);
  
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text p{
    color: grey;
    font-size: 16px;
    position: absolute;
    top: 80%;
    left: 50%;
    height: 100%;
    width: 450px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

/*-----------------------------------*/

.awards img {
    padding: 5px;
    margin-bottom: 30px;
}

/*----------------------------------*/

.projects {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.projects>div {
    background-color: black;
    width: 190px;
    height: 140px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    
    -webkit-transition-property:  opacity;
    /* Safari */
    -webkit-transition-duration: 0.5s;
    /* Safari */
    transition-property:  opacity;
    transition-duration: 0.5s;
}


.projects div:hover {
    opacity: 0.5;
}
.projects img {
    width: 100%;
    height: 100%;
}


#process {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

#process iframe {
    width: 560px;
    height: 315px;
}