.info{
  
   
}
.social {
    right: 150px;
    top:50px;
    position: fixed;
}

.social li {
    margin-bottom: 15px;
    height: 30px;
    width: 30px;
    
}

.social a {
    margin: 0;
    width: 100%;
    height: 30px;
}

.social svg {
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
}

.contact {
    font-family: 'Didact Gothic', sans-serif;
    font-weight: lighter;
    font-size: 12px;
    color: rgb(150, 150, 150);
    list-style-type: none;

    right: 50px;
    bottom: 50px;
    position: fixed;
}

.contact p {
    text-align: right;
}