* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by any browser but < IE9 */
    /*  */

}

*::-webkit-scrollbar {
    display: none;
}

body {

    background: url("img-noise-361x370.png") fixed center;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.mainContainer {
    margin-left: 16.66%;

}

.menuContainer {    
    position: fixed;
    left: 0;    
    
}

.contentContainer {
    background: white;
    margin-left: 8.33%;
    overflow: hidden;
    
}

.contactInfoContainer {
   right: 0;
   position: fixed;    
    
}