.menuContainer {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: rgb(255, 255, 255);
}
.menu {
margin: 50px;
}

.menu p {
    margin-top: 100px;
    font-family: 'Didact Gothic', sans-serif;
    font-weight: lighter;
    padding-left: 30px;
    font-size: 14px;
    color: rgb(150, 150, 150);
}

.menu li {
    /*position: relative;*/
    margin-bottom: 20px;
    height: 30px;
    align-content: center;
    padding-left: 10px;
    padding-top: 5px;
    transition: .5s ease;
    background-color: rgba(255, 0, 51,0);
    box-shadow: 0px 10px 10px rgba(15,15,15,0);
}

.menu li:hover {
    background-color: rgba(255, 0, 51,1);
    box-shadow: 0px 5px 5px rgba(20,20,20,1);
}


#logo{
    margin-bottom: 80px;
   
   
   height: 70px;
  
}
 