.menuContainer {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: rgb(255, 255, 255);

}
.menu {
margin: 50px;
}


.menu li {
    position: relative;
    margin-bottom: 20px;
    height: 30px;
    align-content: center;
    padding-left: 10px;
    padding-top: 5px;
}

.menu li:hover {
    background-color: rgb(255, 0, 51);
}

#logo :hover {
    background-color: rgb(255, 0, 51);
}

#logo{
    margin-bottom: 80px;
}
#logo svg {
margin: 0;
padding: 0;
}   